@use 'base' as *;

body {
    @include color($primary-color, $light_color);
    @include align(flex, center, center);
    text-align: left; font: 100% $font-stack; 
    flex-direction: column; 

    h1 { text-align: center; }
    h2 { font-size: 20px; text-align: center; }
    p { font: 100% $paragraph-text; }
}

header {
    display: flex;
    justify-content: center;
    width: 200px; 

    img { width: 100%; padding: 3em; }
}

main {
    @include align(flex, center, center);
    background-color: $lighter_color;
    border: 1px solid $detailcolor;
    width: 800px;
    border-radius: 0.2em;
    height: 200px;
}

footer {
    @include align(flex, center, center);
    align-self: center;
    margin: 0 auto;
    gap: 1em; 

    img { @include size(40px, 15px); }
    p { font-size: 12px; }
}