@use 'base' as *;

body {
    @include color($primary-color, $light_color);
    @include align(flex, center, center);
    text-align: left; font: 100% $font-stack; 
    flex-direction: column; 

    h1 { text-align: center; }
    h2 { font-size: 20px; text-align: center; }
    p { font: 100% $paragraph-text; }
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    align-items: center;

    img { width: 150px; padding: 2em; margin-top: 1em; }
}

nav {
    width: 100%;
    border-radius: 0.2em 0.2em 0 0;
    padding: 1em 0 1em 0;
    background-color: $detailcolor;
    border-right: 1px solid $detailcolor;
    border-left: 1px solid $detailcolor;
    border-top: 1px solid $detailcolor;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    li {
        margin-right: 20px;

        &:hover { border-bottom: 3px solid $light_color; }
        &:last-child { margin-right: 0; }
        a { color: white; text-decoration: none; font: 100% $navtext; }
    }
}
main {
    @include align(flex, center, center);
    background-color: $lighter_color;
    border: 1px solid $detailcolor;
    width: 800px;
    border-radius: 0 0 0.2em 0.2em;
    height: 200px;
}

footer {
    @include align(flex, center, center);
    margin-top: 5em;
    gap: 1em; 

    img { @include size(40px, 15px); }
    p { font-size: 12px; }
}